<body>
    <h4>
        Identificador del carrito

        <strong>
            {{cart.cartId}}
        </strong>
    </h4>
    <table>
        <thead>
            <tr>
                <th>Identificador del producto</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Código</th>
                <th>Existencias</th>
                <th>Cantidad comprada</th>
            </tr>
        </thead>
        <tbody id="productTableBody">
            {{#each cart.products}}
            <tr>
                <td>{{this.productId}}</td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.code}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.cantidad}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</body>