{{>menu}}
<h3>
    <strong> Ver todos los productos </strong>
</h3>

<body>
    <table>
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Código</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Existencias</th>
            </tr>
        </thead>
        <tbody id="productTableBody1">
            {{#each renderedProducts}}
            <tr>
                <td>{{_id}}</td>
                <td>{{code}}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <th>{{category}}</th>
                <td>{{price}}</td>
                <td>{{stock}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>